/*This is the css for menuPage.html*/


/*The top bar settings*/

.navtop {
    width: 1000px;
    height: 200px;
    border: none;
    background-color: lavender;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


/*More top bar settings*/

.navtop div {
    display: flex;
}


/*The top bar title settings*/

.navtop div h1 {
    font-size: 70px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    color: navy;
    font-weight: normal;
    text-align: left;
    margin-inline-start: 20px;
}


/*Profile button settings*/

.navtop div a button.profileBtn {
    width: 200px;
    height: 150px;
    margin-right: 90px;
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    font-size: 60px;
    background-color: rgb(166, 231, 166);
    color: navy;
}


/*Logout button settings*/

.navtop div a button.logoutBtn {
    width: 200px;
    height: 150px;
    margin-right: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    font-size: 60px;
    background-color: lemonchiffon;
    color: navy;
}


/*more top bar settings*/

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #eaebed;
}

body.loggedin {
    background-color: white;
}


/*The body of the page settings*/

.content {
    width: 1000px;
    margin: 0 auto;
}


/*The second title settings*/

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 70px;
    border-bottom: 1px solid #e0e0e3;
    color: navy;
    text-align: center;
}

.content>p,
.content>div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: #fff;
}

.content>p table td,
.content>div table td {
    padding: 5px;
}

.content>p table td:first-child,
.content>div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
}

.content>div p {
    padding: 5px;
    margin: 0 0 10px 0;
}


/*General buttons in the body of the page settings*/

.content>button {
    border: none;
    color: black;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 900px;
    height: 300px;
    font-size: 120px;
    font-family: Georgia, serif;
}


/*Group chat button settings*/

.content>button.button1 {
    background-color: lightpink;
    color: navy;
}


/*Games button settings*/

.content>button.button2 {
    background-color: lightsalmon;
    color: navy;
}


/*Notification button settings*/

.content>button.button3 {
    background-color: lightskyblue;
    color: navy;
}