/*This is the css for newGamesPage.html*/


/*Settings for the title*/

h1 {
    position: relative;
    top: -100px;
    text-align: center;
    font-size: 51px;
}


/*Settings for the back button*/

button.backBtn {
    width: 150px;
    height: 100px;
    border-radius: 12px;
    font-size: 50px;
    border: 0px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}


/*Settings for the create game button*/

button.createGameBtn {
    width: 700px;
    height: 200px;
    border-radius: 12px;
    font-size: 80px;
    border: 0px;
    background: burlywood;
    text-align: center;
    display: block;
    margin: auto;
}


/*format the date selections*/


/*Date label settings*/

.date {
    font-size: 60px;
    margin-right: 40px;
}


/*month, day, and year label settings*/

.month {
    font-size: 60px;
    margin-left: 10px;
    margin-right: 20px;
}

.day {
    font-size: 60px;
    margin-left: 240px;
    margin-right: 20px;
}

.year {
    font-size: 60px;
    margin-left: 230px;
    margin-right: 20px;
}


/* making the dropdown menus customized for the date*/


/*Month dropdown settings*/

.boxMonth {
    display: inline-block;
}


/*More month dropdown settings*/

.boxMonth select {
    background: orange;
    color: black;
    width: 500px;
    height: 100px;
    border: none;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    margin-right: 20px;
}


/*Day of the month dropdown settings*/


/*Where the dropdown should go relative to the page*/

.boxDay {
    display: inline-block;
}


/*Day of the month dropdown settings*/

.boxDay select {
    background: limegreen;
    color: black;
    width: 500px;
    height: 100px;
    border: none;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    margin-right: 20px;
}


/*Year dropdown settings*/

.boxYear {
    display: inline-block;
}


/*More year dropdown settings*/

.boxYear select {
    background: lightskyblue;
    color: black;
    width: 500px;
    height: 100px;
    border: none;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
}


/*format the Location selection*/


/*Location label settings*/

.location {
    margin-top: 30px;
    font-size: 60px;
    margin-left: 0px;
    margin-right: 130px;
}


/*Location dropdown settings*/

.boxLocation {
    display: inline;
}


/*More location dropdown settings*/

.boxLocation select {
    background: turquoise;
    color: black;
    width: 500px;
    height: 100px;
    border: none;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
}


/*format the time selection*/


/*Time label settings*/

.time {
    margin-top: 30px;
    font-size: 60px;
    margin-left: 0px;
    margin-right: 40px;
}

.hour {
    margin-top: 30px;
    font-size: 60px;
    margin-left: 30px;
    margin-right: 20px;
}

.minute {
    margin-top: 30px;
    font-size: 60px;
    margin-left: 170px;
    margin-right: 20px;
}

.noon {
    margin-top: 30px;
    font-size: 60px;
    margin-left: 80px;
    margin-right: 20px;
}


/*Hour dropdown settings*/

.boxHour {
    display: inline;
}


/*More Hour dropdown settings*/

.boxHour select {
    background: plum;
    color: black;
    width: 500px;
    height: 100px;
    border: none;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    margin-right: 20px;
}


/*Minute dropdown settings*/

.boxMinute {
    display: inline;
}


/*More Minute dropdown settings*/

.boxMinute select {
    background: pink;
    color: black;
    width: 500px;
    height: 100px;
    border: none;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    margin-right: 20px;
}


/*Time of day dropdown settings*/

.boxNoon {
    display: inline;
}


/*More Time of day dropdown settings*/

.boxNoon select {
    background: yellow;
    color: black;
    width: 500px;
    height: 100px;
    border: none;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    margin-right: 20px;
}


/*Bringing cards label settings*/

.bringCards .cards {
    text-align: center;
    font-size: 60px;
    margin-right: 30px;
    margin-left: 30px;
}


/*The checkbox settings*/

input[type='checkbox'] {
    margin-top: 50px;
    left: 20px;
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}


/*After the box is checked settings*/

input[type='checkbox']:checked {
    background: red;
}