/*This is the css for feedPage.html*/


/*This sets the size of the actual page*/

.form-container {
    width: 1300px;
    height: 700px;
    padding: 10px;
    background-color: white;
}


/*These are the css for the buttons on the top of the page*/


/*The home button*/

button.homeBtn {
    width: 150px;
    height: 100px;
    font-size: 30px;
    border: none;
    border-radius: 12px;
    display: inline-block;
    margin-left: 10%;
    background-color: aqua;
}


/*The profile button*/

button.profileBtn {
    width: 150px;
    height: 100px;
    font-size: 30px;
    border: none;
    border-radius: 12px;
    display: inline-block;
    background-color: lightskyblue;
}


/*The logout button*/

button.logoutBtn {
    width: 150px;
    height: 100px;
    font-size: 30px;
    border: none;
    border-radius: 12px;
    display: inline-block;
    background-color: deepskyblue;
}


/*THis is the css for the textbox where the users write their messages*/

.form-container textarea {
    width: 1096px;
    height: 200px;
    margin-left: 50px;
    float: left;
    border: none;
    background: #f1f1f1;
    resize: none;
    font-size: 50px;
}


/* When the textarea gets focus, do something */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/*This is the textbox where the messages get displayed when sent from the message textbox*/

.form-container div.chat {
    background-color: beige;
    outline: none;
    font-size: 50px;
    margin-left: 50px;
}


/*This is the style for the send button */

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 150px;
    height: 204px;
    float: inline-end;
    font-size: 50px;
}


/* Add some hover effects to the button*/

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}


/*Settiings for the chat box*/

.form-container div.mylist {
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
    width: 700px;
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
}

.form-container div.li {
    background: #cce5ff;
    margin: 7px;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}


/*Settings for the top row buttons*/

a {
    display: inline;
    padding: 90px;
}